<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <link rel="icon" href="/assets/images/tads-favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css"
                           href="/assets/css/styles.css">
    <title>{{page.title}}</title>
    <meta property="og:title" content=
    "{{page.title}}">
    <meta name="description" content="{{page.description}}">
    <meta property="og:description" content="{{page.description}}">
</head>