<section class="button-container">
    {% for library in site.data.resources.libraries %}
    <a href="#{{library.title}}" role="button" class="button">{{library.title}}</a>
    {% endfor %}
</section>

{% for library in site.data.resources.libraries %}
<section>
<h2 id="{{library.title}}">{{library.title}}</h2>
<p>{{library.description}}</p>
    {% for resource in library.resources %}
        {% if resource.title %}
        <section>
        <h3><a href="{{resource.url}}" target="_blank">{{resource.title}}</a>{% if resource.type %} <i>- for {{resource.type}}</i> {% endif %}</h3>
        {% if resource.author %} <i>by {{ resource.author }}</i>{% endif %}

        <p>{{resource.description}}</p>
        </section>
        {% endif %}
    {% endfor %}
<div class="button-container"><a href="#top" role="button" class="button">Back to top</a></div>
</section>
{% endfor %}