{% for library in site.data.resources.libraries %}
<section>
<h2>Resources for {{library.title}}</h2>
<p>{{library.description}}</p>
    {% for resource in library.resources %}
        {% if resource.title %}
        <section>
        <h3>{{ resource.title }} {% if resource.type %} <i>- for {{resource.type}}</i> {% endif %}</h3>
        {% if resource.author %} <i>by {{ resource.author }}</i>{% endif %}

        <p>{{resource.description}}</p>

        <p><a href="{{resource.url}}">Link to {{resource.title}}.</a></p>
        </section>
        {% endif %}
    {% endfor %}
</section>
{% endfor %}